{% set idAccordion = "hAccordion-"+range(0,local_dt|unixtimestamp)|random %}
<div class="accordion accordion-flush" id="{{ idAccordion }}">
  {% for item in module.items %}
    {% set itemIdHeading = "flush-heading-"+loop.index0 %}
    {% set itemIdCollapse = "flush-collapse-"+loop.index0 %}
    <div class="accordion-item">
    <h2 class="accordion-header" id="{{ itemIdHeading }}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ itemIdCollapse }}" aria-expanded="false" aria-controls="{{ itemIdCollapse }}">
        {{ item.title }}
      </button>
    </h2>
    <div id="{{ itemIdCollapse }}" class="accordion-collapse collapse {% if item.default_open %}show{% endif%}" aria-labelledby="{{ itemIdHeading }}" {% if not module.always_open %} data-bs-parent="#{{ idAccordion }}" {% endif %}>
      <div class="accordion-body">
        {{ item.content }}
      </div>
    </div>
  </div>
  {% endfor %}
</div>